/* SLIDERS AND RANGE CONTROLS - Specialized slider styles */

/* INTERVAL SLIDER */
.interval_form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #635a5a;
}

input[type='range'].interval {
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

input[type='number'].interval {
  width: 40px;
}

input[type='range'].interval,
input[type='range'].interval::-webkit-slider-runnable-track,
input[type='range'].interval::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

input[type='range'].interval::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #dee1e4;
}

input[type='range'].interval:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

input[type='range'].interval::-webkit-slider-thumb {
  position: relative;
  margin-top: -7px;
  background: #d7754e;
  border: 1px solid #003D7C;
}

.rangeslider {
  position: relative;

}

.rangeslider input {
  position: absolute;
}


.rangeslider span {
  position: absolute;
  margin-top: 30px;
  left: 0;
}

.rangeslider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}


/* Proof of concept for Firefox */
@-moz-document url-prefix() {
  .rangeslider::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #003D7C;
    display: block;
    position: relative;
    top: 16px;
  }

  input[type='range'].interval:nth-child(1) {
    position: absolute;
    top: 35px !important;
    overflow: visible !important;
    height: 0;
  }

  input[type='range'].interval:nth-child(2) {
    position: absolute;
    top: 35px !important;
    overflow: visible !important;
    height: 0;
  }

  input[type='range'].interval::-moz-range-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
  }

  input[type='range'].interval:nth-child(1)::-moz-range-thumb {
    transform: translateY(-20px);
  }

  input[type='range'].interval:nth-child(2)::-moz-range-thumb {
    transform: translateY(-20px);
  }
}

.soundconfig-slider input {
  --start: 20%;
  --stop: 50%;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  pointer-events: none;
  position: absolute;
  height: 4px;
}

.soundconfig-slider input:first-of-type {
  background-image: linear-gradient(to right, lightgrey var(--start), dodgerblue var(--start), dodgerblue var(--stop), lightgrey var(--stop));
}

.soundconfig-slider ::-moz-range-thumb {
  cursor: pointer;
  pointer-events: auto;
}

.soundconfig-slider ::-webkit-slider-thumb {
  cursor: pointer;
  pointer-events: auto;
}