/* SOUNDSCAPE MAIN UI STYLES - soundscape.hbs */

.music-card {
  position: relative;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 220px;
  overflow: hidden;
  color: #fff;
}

.music-card::before {
  content: "";
  background: url('/modules/soundscape-adventure/track_bg.webp') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  /*z-index: 0;*/
}

.music-content {
  position: relative;
  padding: 20px;
  /*z-index: 1;*/

}

.music-content.on {
  background: linear-gradient(to bottom, rgb(7 54 12 / 40%), rgb(0 171 10 / 80%));
}

.music-content.off {
  background: linear-gradient(to bottom, rgb(54 7 12 / 40%), rgb(171 0 10 / 80%));
}

.music-card h3 {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: bold;
}

.music-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.music-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  /*padding: 8px 12px;*/
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.music-controls button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.settings-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  /*z-index: 2;*/
}

.settings-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/*
LEFT BAR
*/

.playlists-sidebar .soundboard-control {
  display: grid;
  place-content: center;
  flex: 0 0 16px;
  text-align: center;
  color: var(--color-text-light-3);
  font-size: var(--font-size-11);
}

.soundboardadv {
  width: 1020px;
  height: 800px;
  border: 0px solid #000;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.soundboardadv {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17.5em;
    background: #35302D;
    padding: 5px;
  }
}

.header-extras {
  background-color: rgba(0, 0, 0, 0.1);
}

.playlists-sidebar li.mood {
  margin: 2px 0;
  padding: 0;
  align-items: center;
}

.soundboardadv-main {
  /*background-color: #ddd;*/
  /*overflow-x: scroll;*/
  display: none;
  background: #756a63;
  /*background: url(https://img.freepik.com/premium-vector/sound-waves-oscillating-dark-blue-light-background_42077-3032.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.soundscapeadv-element-title {
  color: black;
}

.playlist-track-ctn {
  display: flex;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-track-ctn.disabled {
  background-color: #464646;
}

.playlist-track-ctn.active {
  background-color: #bbacac;
}

.playlist-track-ctn:last-child {
  /*border: 1px solid #ffc266; */
}

.playlist-track-ctn>div {
  margin: 10px;
}

.active-track>.playlist-info-track,
.active-track>.playlist-duration,
.active-track>.playlist-btn-play {
  color: #ffc266 !important;
}

.playlist-btn-play {
  /*pointer-events: none;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-info-track {
  width: 50%;
}

.playlist-info-track,
.playlist-duration {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  /*pointer-events: none;*/
}

.soundboardfas {
  color: #ffc266;
  font-size: 20px;
}

.mood-active {
  /*background-color: #ddd;
  overflow-x: scroll;*/
  display: block;
  margin-left: 229px;
  width: 806px;
  /*border: 1px solid red;*/
  height: 830px;
  overflow-x: auto;
  margin-top: -15px;
}

/*
SOUND CONTROL
*/
.soundscapeadv-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  margin-top: 5px;
  /*padding: 0.5em;*/
  /*background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  border-radius: 8px;
  align-items: center;
  /* max-width: 1200px; */
  justify-items: center;
  min-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.soundscapeadv-element {
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.soundscapeadv-element.on {
  border: 1px solid rgb(76, 243, 76);
  background-color: rgba(185, 241, 185, 1);
}

.soundscapeadv-element.off {
  border: 1px solid rgb(243, 76, 76);
  background-color: rgb(250, 206, 206);
}

.soundscapeadv-element.hidden {
  display: none;
}

.soundscapeadv-element h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  border-style: none;

}

.soundscapeadv-slider-container {
  width: 100%;
  margin: 10px 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.soundscapeadv-slider-label {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.extras-collapsed {
  max-height: 0;
}

.soundscapeadv-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.soundscapeadv-slider:hover {
  opacity: 1;
}

.soundscapeadv-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.soundscapeadv-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.mood-general-config {
  position: absolute;
  width: 1050px;
  text-align: end;
  padding-right: 50px;
}

.extra_btn_div {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  overflow: hidden;

}

.extra_btn_div span {
  padding: 10px;
  display: inline;
  border-radius: 2px;
  font-family: "Arial";
  border: 0;
  margin: 0 10px;
  /*background: #e7e7e7;*/
  font-size: 15px;
  line-height: 15px;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  box-sizing: content-box;
}

.soundscape-ui {
  overflow: visible !important;
}

.soundscape-sliding-ear {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: var(--hud-bg-color);
  border-radius: 0 6px 6px 0;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}

.soundscape-sliding-panel {
  position: fixed;
  margin-top: -800px;
  margin-left: 1036px;
  height: 750px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 1px solid #ccc;
  border-radius: 0;
  z-index: -1;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  padding: 10px;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  overflow: visible;
}

/* Open State */
.soundscape-sliding-panel.open {
  transform: translateX(0);
  /*z-index: 1000;*/
}

/* Ensure content inside the sliding panel is visible */
.soundscape-sliding-panel h2 {
  color: white;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.soundscape-sliding-panel .soundpad-list-container {
  background-color: rgba(255, 255, 255, 0.1);
}

.soundscape-sliding-panel .soundpad-sound-name {
  color: white;
}

.soundscape-sliding-panel .volume-label,
.soundscape-sliding-panel .volume-value {
  color: #ccc;
}

.soundscape-tab-button {
  text-align: center;
}