.soundscape-ui,
.soundscape-ui .window-content {
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

// Main app grid layout
.sa-app.library-hidden,
.sa-app {
  display: grid;
  height: 100%;
  min-height: 0;
  //background: var(--sa-bg-main);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

.sa-app {
  grid-template-columns: 220px 1fr 260px;
  transition: grid-template-columns 0.2s ease;
}

.sa-app.library-hidden {
  grid-template-columns: 220px 1fr;
}

.mood-action i.fa-stop {
  color: #ee9b3a;
}

