<div class="changelog">
    <h2 id="_version_034_july_2025">
      <a name="0.3.4"> Version 0.3.4 - New Soundscape Available – Western! <span class="date">July, 2025<span></span></span></a>
    </h2>
    <!--p style="color: red"><b>Important</b>: This version is not compatible with your old moods. Please watch the short video guide below to learn how to import them.</p-->
    <p>With this update, you can now import a brand-new soundscape filled with Western-themed sounds – perfect for games like Deadlands or any campaign set in the dusty frontier.</p>
    <p>What’s included?</p>
    <p>I've been using these sounds in my own Deadlands sessions, and now I’m sharing them with you! The update includes:</p>
    <ul>
      <li>Over 100 new sounds, including ambient effects, loops, and random sounds.</li>
      <li>A ready-to-use example soundscape to help you get started building your own moods and settings.</li>
    </ul>

  <div class="grid flexrow" style="text-align: center;">
    <img src ="/modules/soundscape-adventure/assets/western.png" alt="Western Soundscape" style="width: 100%; max-width: 600px; height: auto; margin: 0 auto;">
    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/KG4pyb8W4wQ?si=cyVHEf2qMEjaB6cI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe-->
  </div>
  <p>How to use it:</p>
<ul>
<li>Click on the Load Soundscape</li>
<li>Locate and import the file western.json (it is located in the soundscape module folder within the soundscapes folder)</li>
<li>Enjoy the sounds of the Wild West at your table!</li>
</ul>

<p>If you have any problems or questions, please feel free to reach out opening a issue on github using the <a href="https://github.com/piecesofcodecom/soundscape-adventure/issues" target="_blank">issue tracker</a>.</p>


</div>