<div class="changelog">
    <h2 id="_version_030_june_2025">
      <a name="0.3.0"> Version 0.3.0 - FoundryVTT 13 <span class="date">June, 2025<span></span></span></a>
    </h2>
    <p style="color: red"><b>Important</b>: This version is not compatible with your old moods. Please watch the short video guide below to learn how to import them.</p>
    <p>This is still a beta release for stability testing. If you find any bugs, please don't hesitate to <a href="https://github.com/piecesofcodecom/soundscape-adventure/issues" target="_blank">open an issue on GitHub</a>.</p>
    <ul>
      <li><span class="badge badge-changed">Fix</span> <strong>Previous version doesn't have the migration script.</li>
    </ul>
  <p>Please watch the videos below to learn how to import your old moods to the new Soundscape Adventure.</p>

  <div class="grid flexrow" style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KG4pyb8W4wQ?si=cyVHEf2qMEjaB6cI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>


</div>